body{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    background: linear-gradient(to right, rgb(95, 16, 16), rgb(139, 139, 39),  rgb(9, 9, 107));
    color: white;
    font-size: 1.5rem;
}

a{
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    background-color: rgba(0, 155, 0, 0.4);
    padding: 8px 4px;
    cursor: pointer;
    border-radius: 4px;
}

.carousel {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 20px solid transparent;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Ctext x='0' y='15' font-size='20' fill='red'%3E❤%3C/text%3E%3C/svg%3E") 30 round;
    border-radius: 20px;
    position: relative;

    /* centraliza apenas o carrossel */
    margin: 2rem auto;
}
  
  .carousel-track {
    display: flex;
    width: 400%; /* 4 imagens */
    animation: slide 12s steps(4) infinite;
  }
  
  .carousel-track img {
    width: 25%; /* cada imagem ocupa 1/4 do track */
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
  }
  
  @keyframes slide {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  